<nb-card size="small">
  <nb-card-body>
    <div class="d-flex align-items-center justify-content-between">
      <div class="col-8">
        <span class="h5 location" style="word-wrap: break-word">{{
          station?.NameDevice
        }}</span>
        <span class="date mt-2">{{
          station?.data[0]?.createdAt | date: "medium"
        }}</span>
      </div>

      <div
        style="max-height: 110px; height: 110px"
        class="col-4 w-100 ml-3 text-center h2 rounded bg-danger d-flex align-items-center justify-content-center"
      >
        {{ station?.currentAQI }}
      </div>
    </div>

    <div class="today-details">
      <div class="parameter">
        <span class="caption parameter-name">Temp</span>
        <span class="parameter-value">{{ station?.data[0]?.Temp }}&deg;</span>
      </div>
      <div class="parameter">
        <span class="caption parameter-name">Hum</span>
        <span class="parameter-value">{{ station?.data[0]?.Hum }}%</span>
      </div>
      <div class="parameter">
        <span class="caption parameter-name">Pres</span>
        <span class="parameter-value">{{ station?.data[0]?.Pre }}pa</span>
      </div>
    </div>
    <div class="today-details">
      <div class="parameter">
        <span class="caption parameter-name">PM1.0</span>
        <span class="parameter-value">{{ station?.data[0]?.PM10 }}µm</span>
      </div>
      <div class="parameter">
        <span class="caption parameter-name">PM2.5</span>
        <span class="parameter-value">{{ station?.data[0]?.PM25 }}µm</span>
      </div>
      <div class="parameter">
        <span class="caption parameter-name">PM10</span>
        <span class="parameter-value">{{ station?.data[0]?.PM100 }}µm</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>
