<nb-card size="medium">
  <nb-card-body>
    <span class="h2 location">Linh Trung, Thủ Đức</span>
    <span class="date mt-2">Mon 29 May</span>

    <div class="today mb-2">
      <span class="today-temperature h5">AQI: 20</span>
      <div class="p-3 h6 rounded bg-danger d-flex align-items-center">
        Medium
      </div>
    </div>

    <div class="today-details">
      <div class="parameter">
        <span class="caption parameter-name">max</span>
        <span class="parameter-value">23&deg;</span>
      </div>
      <div class="parameter">
        <span class="caption parameter-name">min</span>
        <span class="parameter-value">19&deg;</span>
      </div>
      <div class="parameter">
        <span class="caption parameter-name">wind</span>
        <span class="parameter-value">4 km/h</span>
      </div>
    </div>
    <div class="today-details">
      <div class="parameter">
        <span class="caption parameter-name">max</span>
        <span class="parameter-value">23&deg;</span>
      </div>
      <div class="parameter">
        <span class="caption parameter-name">min</span>
        <span class="parameter-value">19&deg;</span>
      </div>
      <div class="parameter">
        <span class="caption parameter-name">hum</span>
        <span class="parameter-value">87%</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>
