<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 class="title">Air Quality Index Admin</h2>
          <h6 class="sub-title mb-2">Graduation thesis</h6>
          <p class="caption2 text-center font-weight-bold">
            Authors: <br />
            Nguyễn Quốc Việt - Nguyễn Minh Mẫn
          </p>
          <button
            nbButton
            fullWidth
            (click)="goToHome()"
            type="button"
            class="home-button"
          >
            Go back to dashboard
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
