@import "./themes";

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }

  ng2-smart-table th.ng2-smart-actions-title-add a {
    font-size: 0.75rem !important;
    font-weight: bold !important;
  }
  ng2-smart-table .ng2-smart-actions a.ng2-smart-action {
    font-size: 0.75rem !important;
    font-weight: bold !important;
  }
}
