<div>
  <nb-card>
    <nb-card-header>
      <div>
        <div class="h4">
          {{ station?.NameDevice }}
        </div>
        <div>
          ID:
          <b>
            {{ station?._id }}
          </b>
        </div>
        <div>
          Area:
          <b>
            {{ station?.area }}
          </b>
        </div>
        <div>
          Current AQI:
          <b>
            {{ station?.currentAQI }}
          </b>
          <!-- <span
          class="badge"
          [class]="station.status ? 'badge-success' : 'badge-danger'"
        >
          {{ station.status ? "Active" : "Inactive" }}
        </span> -->
        </div>
        <div>
          Current PM2.5:
          <b>
            {{ station?.data[0]?.createdAt | date: "medium" }} -
            {{ station?.data[0]?.PM25 }} (µm)
          </b>
        </div>
        <div>
          PM2.5 Next Hour:
          <b>
            {{ station?.data[0]?.predictNextHour?.Date | date: "medium" }} -
            {{ station?.data[0]?.predictNextHour?.value }} (µm)
          </b>
        </div>
      </div>
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  <!-- Daily Report -->
  <nb-card size="large" id="daily-report">
    <nb-card-header>
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <div class="h4">Daily Report</div>
          <div>
            ID:
            <b>
              {{ station?._id }}
            </b>
          </div>
        </div>
        <button
          nbButton
          status="success"
          size="small"
          (click)="exportDailyPDF()"
        >
          Export Report
        </button>
      </div>
    </nb-card-header>

    <nb-card-body>
      <ngx-daily-chart [data]="station?.data"></ngx-daily-chart>
    </nb-card-body>
  </nb-card>
  <!-- General Report -->
  <nb-card size="large" id="general-report">
    <nb-card-header>
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <div class="h4">General Report</div>
        </div>
        <button
          nbButton
          status="success"
          size="small"
          (click)="exportGeneralPDF()"
        >
          Export Report
        </button>
      </div>
    </nb-card-header>

    <nb-card-body>
      <ngx-general-chart [data]="station?.data"></ngx-general-chart>
    </nb-card-body>
  </nb-card>
</div>
