<div class="row">
  <div class="col-6"></div>
  <div class="col-6"></div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <!-- Stations -->
    <nb-card>
      <div class="icon-container">
        <div class="icon status-success">
          <nb-icon icon="home-outline"></nb-icon>
        </div>
      </div>

      <div class="details">
        <div class="title h5">Stations</div>
        <div class="status h6">{{ dashboardData?.stationCount }}</div>
      </div>
    </nb-card>
    <!-- Users -->
    <nb-card>
      <div class="icon-container">
        <div class="icon status-warning">
          <nb-icon icon="people-outline"></nb-icon>
        </div>
      </div>

      <div class="details">
        <div class="title h5">Users</div>
        <div class="status h6">{{ dashboardData?.userCount }}</div>
      </div>
    </nb-card>
    <!-- Station Info - Hour -->
    <ngx-station-info [station]="dashboardData?.station"></ngx-station-info>
  </div>
  <!-- Station Info - Today -->
  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-dashboard-chart
      [station]="dashboardData?.station"
    ></ngx-dashboard-chart>
  </div>
</div>
